<div class="header">
    <div class="contacts__line">
        <div>
            <i class="fas fa-phone-alt"></i>
            <a>+7 7172 97 83 98</a>
        </div>
        
        <div>
            <i class="far fa-envelope"></i>
            <a>kz@novomed.nl</a>
        </div>
    </div>

    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="icons/logo-2.svg" class="logo" alt="">
            </div>
            <ul class="nav-links">
                <li><a href="/">Главная страница</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/brands">Фирмы</a></li>
                <li><a href="/products">Продукция</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>

            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
</div>