<div class="main">
    <img src="images/about_back.png" class="main-image">

    <div class="text-container">
        <p>Структура и организация novomedkz</p>
    </div>
</div>


<main>
    {{!-- INFO --}}
    <section class="info__section">
        <p>
           В настоящее время компания NOVOMEDKZ разделена на три основных подразделения: подразделение медицинского оборудования по обоим направлениям: продажи и техническая поддержка, а также подразделение по консультациям и планированию для проектов «под ключ». 
        </p>
    </section>


    {{!-- SERTIFICATE --}}
    <section class="sertificate__section">
        <p>
            Наши работодатели продают и обслуживают наркозо-вентиляционное оборудование Draeger уже 15 лет. Они сертифицированы для
        </p>

        <div class="sertificate__section__cards">
            <div class="item1">
                01<br>
                Анестезия
            </div>
            <div class="item2">
                02<br>
                Вентиляция
            </div>
            <div class="item3">
                03<br>
                Системы управления газом 
            </div>
            <div class="item4">
                04<br>
                Мониторинг
            </div>
            <div class="item5">
                05<br>
                Системы неонатальной помощи
            </div>
            <div class="item6">
                06<br>
                Мастер класс
            </div>
            <div class="item7">
                07<br>
                Домашняя терапия
            </div>
        </div>

        <p>
            У нас хорошие отношения с клиентами и лидерами мнений.
        </p>
    </section>


    {{!-- OUR STAFF --}}

    <section class="staff_section">
        <div class="staff__text">
            <p class="staff__text__title">Наш персонал</p>
            <p>Наши люди имеют опыт проведения мастер-классов, конференций и семинаров, ведь в нашем штате есть анестезиологи и реаниматологи. </p><br>
            <p>Сотрудникам NOVOMEDKZ нравится командная работа в комфортной обстановке, которая улучшает качество их жизни. Компания имеет профессиональное руководство, хорошо обученных на заводе инженеров и техников, а также рабочую команду на каждом рынке для выполнения всех видов операций.</p><br>
            <p>Наши опытные сотрудники, техники, специалисты по продуктам, инженеры, администраторы и клинический персонал всегда готовы координировать свои действия и действовать в качестве поставщика решений.</p><br>
            <p>В нашем штате 6 продавцов (из них 3 анестезиолога и один внештатный сотрудник), 6 инженеров и 4 административных работодателя. Общее количество всего персонала - 20 человек.</p><br>
        </div>
        <div class="background_image">
            <img src="images/doctor.png" alt="">
        </div>
    </section>

    {{!-- ADDRESS --}}

    <section class="address_section">
        <p>
            Основное предприятие компании NOVOMEDKZ находится в <span style="color: #009FE3;">Роттердаме</span>
            а также дочерняя компания ООО «Новомед KZ» в <span style="color: #009FE3;">г. Нур-Султан</span>
            с нашим партнерским складом в Роттердаме и
            собственный склад и выставочный зал в Нур-Султане. 
        </p>
    </section>

    <div class="map__form__address">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1535.1243866644327!2d71.42681228718834!3d51.08563712358501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424586a6ac32c4c5%3A0x49797c2b62d4e48f!2sZhiloy%20Kompleks%20%22Venskiy%20Kvartal%22!5e0!3m2!1sen!2skz!4v1639466919340!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</main>
