<div class="main">
    <section class="brands__section">
        <div class="brands__title">
            <p>Компании с которыми мы сотрудничаем:</p>
        </div>
        <div class="brands__list">
            <section>
                <div>
                    <div class="card-carousel">

                        <div class="card" id="1">
                            <div class="image-container">
                            <img src="images/bilimetrix_logo.png" alt="">
                            </div>
                            <p>LÖWENSTEIN Medical is a pioneer and itself a market leader in innovative disciplines such as sleep medicine, respirator/ventilator and state-of-the-art technology.</p>
                            
                        </div>

                        <div class="card" id="2">
                            <div class="image-container">
                                <img src="images/biolight_logo.jpg" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                            <a href="/biolight_page">More about biolight Medical »</a>
                        </div>

                        <div class="card" id="3">
                            <div class="image-container">
                            <img src="images/hamilton_img.jpg" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                            <a href="/hamilton_page">More about Hamilton Medical »</a>
                        </div>  

                        <div class="card" id="4">
                            <div class="image-container">
                            <img src="images/kls_martin_img.jpg" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                        </div>

                        <div class="card" id="5">
                            <div class="image-container">
                            <img src="images/lowenstein_img.jpg" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                            <a href="/lowenstein_page">More about LÖWENSTEIN Medical »</a>
                        </div>

                        <div class="card" id="6">
                            <div class="image-container">
                            <img src="images/medin_logo.jpg" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                            <a href="/medin_page">More about Medin »</a>
                        </div>

                        <div class="card" id="7">
                            <div class="image-container">
                            <img src="images/rvent_logo.png" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p>
                            <a href="/rvent_page">More about rVENT »</a>
                        </div>

                    </div>
                    <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
                </div>
            </section>
        </div>
    </section>
</div>
