<div class="brand-section">
    <div class="brand-img">
        <img src="images/hamilton_img.jpg" class="brand-logo" alt="qwe">
    </div>
    
    <div class="brand-text">
        <div>
            <p>HAMILTON Medical предлагает интеллектуальные решения в области вентиляции для всех ваших пациентов - от новорожденных до взрослых - для отделения интенсивной терапии, отделения неотложной помощи, кабинета МРТ и для транспорта.</p>
        
            <p>С 1983 года компания HAMILTON Medical разрабатывает интеллектуальные решения для вентиляции, которые обеспечивают более безопасную помощь тяжелобольным пациентам и облегчают жизнь людям, которые за ними ухаживают.</p>

            <p>Сегодня HAMILTON Medical является ведущим производителем вентиляционных решений для интенсивной терапии для самых разных категорий пациентов, приложений и сред.</p>
        </div>

        <div>
            <p>HAMILTON Medical - это семейный бизнес, которым управляет второе и третье поколение семьи Гамильтон. Гамильтон всегда стремились использовать технологии на службе человечества.</p>

            <p>Чтобы реализовать это видение, семья позволила Hamilton Medical инвестировать в долгосрочную стратегию на благо пациентов и врачей, не сосредотачиваясь на краткосрочной прибыли.</p>

            <p>Долгосрочная перспектива владельцев также позволила HAMILTON Medical инвестировать в производственный объект нового поколения в Швейцарии.</p>
        </div>

    </div>
    
    <div class="brand-products">
        <h3>ПРОДУКТЫ HAMILTON Medical  </h2>
        <br>
        <pre>
            <b>Ventilators</b>
            -HAMILTON-C1
            -HAMILTON-C1 neo
            -HAMILTON-C2
            -HAMILTON-C3
            -HAMILTON-C6
            -HAMILTON-G5
            -HAMILTON-S1
            -HAMILTON-T1
            -HAMILTON-MR1
        </pre>

        <pre>
            <b>Peripheral Devices</b>
            -HAMILTON-H900
            -HAMILTON IntelliCuff®
            -HAMILTON VENTILAIR® II Compressor
        </pre>
    </div>
</div>

