<div class="main">
    <img class="main-image" src="images/main.png" alt="">

    <div class="text-container">
        <p style="text-align: left;">Добро <br> пожаловать в <span style="color:#009FE3">NOVOMEDKZ</span></h1>
        <p style="text-align: left;">Уважаемые дамы и господа, дорогие друзья и коллеги!
        Мы выражаем вам наше глубокое почтение, и приглашаем вас начать успешное сотрудничество с NOVOMEDKZ</p>

        <a href="/products" class="main-button">
            Продукция
            <i class="fas fa-angle-right"></i>
        </a>
    </div>
</div>


<main class="main-sector">
    <section class="facts">
        <div class="facts__container grid">
            <div class="facts__card">
                <div class="facts__card__info">
                    <i class="far fa-hospital"></i>
                    <p class="facts__description">Компания NOVOMEDKZ была основана в Нидерландах в 2013 году. Основатели нашей компании на протяжении многих лет поставляли медицинское оборудование и технологии в Центральной Азии, такие как Казахстан, Таджикистан, Узбекистан и Кыргызстан. </p>    
                </div>
                <div class="facts__underline"></div>
            </div>
    
            <div class="facts__card">
                <div class="facts__card__info">
                    <i class="fas fa-university"></i>
                    <p class="facts__description">У нас есть успешный опыт проведения тендеров, финансируемых KFW, IDB, OPEC, Фондом Агахана и Всемирным банком. Основное предприятие нашей компании находится в Роттердаме. За последние два года мы также создали ООО «NOVOMEDKZ» в Нур-Султане.</p>
                </div>
                <div class="facts__underline"></div>
            </div>
    
            <div class="facts__card">
                <div class="facts__card__info">
                    <i class="fas fa-users"></i>
                    <p class="facts__description">Благодаря продуктивным усилиям наших опытных и высококвалифицированных сотрудников, а также постоянно расширяющейся клиентской базе и растущему числу наших поставщиков, к концу 2017 года оборот компании превысит 3 миллиона евро.</p>
                </div>
                <div class="facts__underline"></div>
            </div>
        </div>
    </section>

    <section class="companies">
        <p>NOVOMEDKZ - компания которая успешно выступает дистрибьютором таких производителей, как</p>

        <div class="companies__list">
            <a href="/hamilton_page"><img src="images/hamilton_img.jpg" alt=""></a>
            <a href="/medin_page"><img src="images/medin_logo.jpg" alt=""></a>
            <a href="/lowenstein_page"><img src="images/lowenstein_img.jpg" alt=""></a>
            <a href="/rvent_page"><img src="images/rvent_logo.png" alt=""></a>
            <a href="/biolight_page"><img src="images/biolight_logo.jpg" alt=""></a>
        </div>

        <p>и другие.</p>
    </section>

    <section class="email">
        <div class="email__block">
            <div class="email__form">
                <p class="email__form__title">Напишите нам</p>

                <div class="email__edit__form">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Фамилия">
                </div>

                <div class="name__edit__form">
                    <input type="text" placeholder="E-mail">
                </div>

                <div class="text__edit__form">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
                </div>

                <button>Отправить</button>
            </div>

            <div class="map__form">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1535.1243866644327!2d71.42681228718834!3d51.08563712358501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424586a6ac32c4c5%3A0x49797c2b62d4e48f!2sZhiloy%20Kompleks%20%22Venskiy%20Kvartal%22!5e0!3m2!1sen!2skz!4v1639466919340!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
    
</main>


{{!-- <a href="/about">About page</a> --}}
