<div class="products">
    {{!-- <div class="products_nav">
        <ul>
            <li><a href="#">Electrosurgery</a></li>
            <li><a href="#">Surgical Laser Systems</a></li>
            <li><a href="#">Operating Lights</a></li>
            <li><a href="#">Examination Lights</a></li>
            <li><a href="#">Anaesthesia Workstations</a></li>
            <li><a href="#">Modular Patient Monitors</a></li>
            <li><a href="#">Ventilation</a></li>
            <li><a href="#">nCPAP Systems</a></li>
            <li><a href="#">Accessories & Consumables</a></li>
        </ul>
    </div> --}}
    <div class="product_nav">
        <ul>
            <li><a href="#electrosurgery_block">Electrosurgery</a></li>
            <li><a href="#surgical_laser_block">Surgical Laser Systems</a></li>
            <li><a href="#operating_lights_block">Operating Lights</a></li>
            <li><a href="#examination_lights_block">Examination Lights</a></li>
            <li><a href="#anaesthesia_workstations_block">Anaesthesia Workstations</a></li>
            <li><a href="#modular_patient_monitors_block">sample</a></li>
            <li><a href="#ventilation_block">sample</a></li>
            <li><a href="#ncpap_systems_block">sample</a></li>
            <li><a href="#accessories_and_consumables_block">sample</a></li>
         
        </ul>
        
    </div>
    <div class="prodcuts_main">
        <div id="products_main_text">
            <p class="products_title">PRODUCTS you can buy at NOVOMED</p>

            <p class="products_text">NOVOMED provides the following product of LÖWENSTEIN medical, HAMILTON Medical, MEDIN, TSE and KLS Martin Group: electrosurgical equipment, surgical laser systems, operating and examination lights, anaesthesia workstations, newborn incubator systems, ventilators, peripheral devices, accessories and consumables.</p>
        
        </div>

        <hr>

        {{!-- Electrosurgery --}}

        <div id="electrosurgery_block">
            <h2 class="product_title">Electrosurgery</h1>
            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/1.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/2.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/3.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/4.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/5.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/6.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/7.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/8.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#"  class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/9.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#"  class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <h3 style="color: #000000;">KLS Martin Electrosurgical Instruments</h3>

            <div class="product_card">
                <img class="product_image" src="images/electrosurgery/11.png" alt="1">

                <div class="product_text">
                    <h3>KLS Martin also sets new standards on a regular basis with its appealing range of HF accessories.</h2>
                    <p>During the last few years, the product portfolio has been continuously expanded, in particular in the field of bipolar application. Now it comprises a great deal of innovative instruments, such as the marCut® bipolar scissors, the marClamp®, bipolar clamps, the NON-STICK red forceps or the marSeal bipolar sealing instruments.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>
        </div>

        {{!-- Surgical Laser Systems --}}
        <div id="surgical_laser_block">
            <h2 class="product_title">Surgical Laser Systems</h1>
            <div class="product_card">
                <img class="product_image" src="images/surgical_laser/1.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>With the new MCO 25plus/MCO 50plus CO2 lasers, KLS Martin offers you laser technology at its best. Thanks to their easy-to-understand operating philosophy, excellent optical characteristics and comprehensive, innovative accessories, these CO2 lasers can be used in many fields and for a great variety of indications. <br>
                        Both laser systems offer users numerous application-specific operating modes, all of which are characterized by utmost precision and an extremely low thermal impact on surrounding tissues. A good example in case is the Superpulse mode with its ultra-short pulse lengths of significantly less than 1 ms.
                    </p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/surgical_laser/2.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/surgical_laser/3.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>
        </div>

        {{!-- Operating Lights --}}
        <div id="operating_lights_block">
            <h2 class="product_title">Operating Lights</h1>

            <div class="product_card">
                <img class="product_image" src="images/operating/1.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/operating/2.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>
        </div>

        {{!-- Examination Lights --}}
        <div id="examination_lights_block">
            <h2 class="product_title">Examination Lights</h1>

            <div class="product_card">
                <img class="product_image" src="images/examination/1.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/examination/2.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>
        </div>

        {{!-- Anaesthesia Workstations --}}
        <div id="anaesthesia_workstations_block">
            <h2 class="product_title">Anaesthesia Workstations</h1>

            <div class="product_card">
                <img class="product_image" src="images/anasthesia/1.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This personal anaesthesia workstation combines proven ergonomic design and hygienic concepts with top technology thus providing optimum support for your work, e.g. during the initiation and course of operations, for diagnostic purposes and other relevant hospital systems.
                    <br><br>
                    <span style="font-weight: bold;">Basic specifications</span> 
                    <br>
                    -Rebreathing ventilation performance up to the standard of an intensive ventilator
                    <br>-Classical gas mixture via flow tubes
                    <br>-Pneumatic ventilator drive
                    <br>-Patient system designed for efficient preparation and most easy assembly
                    <br>-Absorber change during operation
                    <br>-Ventilation technology to care for patients of any age
                    <br>-Ventilation modes: IMV, PCV, Man. Spont.
                    <br><br>
                    Optional: SIMV, SPCV, PSV</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/anasthesia/2.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/anasthesia/3.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>

            <div class="product_card">
                <img class="product_image" src="images/anasthesia/4.png" alt="1">

                <div>
                    <h3>KLS Martin <br>High-End HF Unit maXium®</h2>
                    <p>This HF unit offers you more than 40 precisely regulated types of current for a great variety of applications in any medical field. The maXium® represents an innovative symbiosis of highly advanced HF technology and a whole range of user-friendly advantages. In particular, it is extremely fast and easy to operate.</p>
                    <a href="#" class="product_link">More on the manufacturer's website »</a>
                </div>
            </div>
        </div>

        {{!-- Modular Patient Monitors --}}
        <div id="modular_patient_monitors_block">

        </div>

        {{!-- Ventilation --}}
        <div id="ventilation_block">

        </div>

        {{!-- nCPAP Systems --}}
        <div id="ncpap_systems_block">

        </div>

        {{!-- Accessories & Consumables --}}
        <div id="accessories_and_consumables_block">

        </div>
    </div>

</div>
