<div class="brand-section">
    <div class="brand-img">
        <img src="images/rvent_logo.png" class="brand-logo" alt="qwe">
    </div>
    
    <div class="brand-text">
        <div>
            <p>Для KLS Martin этот девиз - больше, чем претензия, это еще и обязательство. Заявление основано на наших постоянных усилиях по исследованию, разработке, производству и продаже инновационных решений.</p>

            <p>Приверженность проявляется в результате: все вовлеченные стороны - от торговых партнеров до пользователей и пациентов - могут быть уверены, что получат решение безупречного качества, удовлетворяющее самым высоким требованиям.</p>
        
            <p>Каждое из этих нововведений было разработано, протестировано и оптимизировано в тесном сотрудничестве с пользователями, врачами, хирургами и учеными. Фактически, многие из них стали считаться «золотым стандартом» в соответствующей области применения.</p>
        </div>

        <div>
            <p>Прекрасным примером являются различные системы остеосинтеза, разработанные Страсбургской исследовательской группой по остеосинтезу (S.O.R.G.) вокруг профессора Чампи, а также дистракторы, оптимизированные позже так называемым «Цюрихским дизайном». Или рассмотрите наши передовые производственные мощности для чистых помещений для производства рассасывающихся имплантатов, которые лежат в основе нашей системы SonicWeld Rx®. Или возьмем лазерные системы KLS Martin, работающие на длине волны, которая идеально подходит для резекции легочных метастазов.</p>

            <p>Однако самое главное, что наше требование включает в себя приверженность открытости и гибкости. KLS Martin всегда готов исследовать новые области хирургического применения. Это не обязательно включает все области, потому что важны фокус и опыт.</p>
        </div>
    </div>
    
    <div class="brand-products">
        <h3>ПРОДУКТЫ KLS MARTIN </h2>
        <br>
        <pre>
            <b>Electrosurgery</b>
            -KLS Martin High-End HF Units
            -KLS Martin maXium®
            -KLS Martin ME MB 1 endo
            -KLS Martin ME MB 3
            -KLS Martin ME 411
            -KLS Martin Basic HF Units
            -KLS Martin Minicutter
            -KLS Martin ME 102
            -KLS Martin MD 62
            -KLS Martin HF Carts
            -KLS Martin Smoke Evacuator
            -KLS Martin Electrosurgical Instruments
        </pre>

        <pre>
            <b>Surgical Laser Systems</b>
            -KLS Martin MCO 25plus
            -KLS Martin MCO 50plus
            -KLS Martin Limax®
            -KLS Martin diomax®
        </pre>

        <pre>
            <b>Operating & Examination Lights</b>
            -KLS Martin marLED® E1
            -KLS Martin marLED® E3
            -KLS Martin marLED® E9i
            -KLS Martin marLED® E15
            -KLS Martin marLED® V10
            -KLS Martin marLED® V16
        </pre>
    </div>
</div>

